<nav class="navbar navbar-expand-lg" style="background-color:#ebf2faff">
  <div class="container-fluid">
    <img style="width: 11rem;" src="../assets/bookverse (1).png" alt="BookVerse">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/" aria-disabled="true">Listar libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/agregar" aria-disabled="true">Agregar libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Usuarios</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<br/>
<router-outlet/>
